* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

.bground {
  background-color: #00C6FF;
}

.cardHighlight {
  min-height: 100%;
}

.carousel-img {
  height: 400px;
  object-fit: cover;
}

.carousel-text {
  background-color: rgba(0, 0, 0, 0.7);
}

.mylogo, h1, h3 {
  font-weight: bolder;
}

.mylogo, .navLink {
  color: white;
  border: dotted;
  border-color: transparent;
  transition: 1s;
}

.mylogo:hover, .navLink:hover, .fa:hover {
  border-color: skyblue;
  text-decoration: none;
  color: skyblue !important;
  transition: 0.7s;
}
.mylogo:active, .navLink:active, .fa:active {
  border-style: solid;
  text-decoration: none;
  color: cyan !important;
  transition: 0.1s;
  border-radius: 22px;
}

.footer-bg {
  background-color: dimgray;
  max-width: 100%;
  color: black;
}

.register {
  padding: 3rem;
}

.login {
  padding-top: 25vh;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

p {
  font-size: 1.2rem;
  font-weight: 500;
}

.form-color {
  background-color: #0090C6;
  border-radius: 22px;
}

.sign-up-text-1, .sign-up-text-2, .sign-up-text-3 {
  overflow: hidden;
  white-space: nowrap;
  border-right: .13em solid transparent;
  letter-spacing: .13em;
  margin: auto;
  width: 0;
}

.sign-up-text-1 {
  animation:
    typing 3s steps(40, end) forwards,
    blink-line 2.5s step-end forwards;
}

.sign-up-text-2 {
  animation:
    typing 3s steps(40, end) forwards,
    blink-line 2s step-end forwards;
  animation-delay: 2.8s;
}

.sign-up-text-3 {
  animation:
    typing 3s steps(40, end) forwards,
    blink-line 2.8s forwards;
  animation-delay: 5.8s;
}

.login-text-1, .login-text-2, .login-text-3,
.login-text-4, .login-text-5 {
  overflow: hidden;
  white-space: nowrap;
  border-right: .13em solid transparent;
  letter-spacing: .13em;
  margin: auto;
  width: 0;
}

.login-text-1 {
  animation:
    typing 3s steps(40, end) forwards,
    blink-line 2.5s step-end forwards;
}

.login-text-2 {
  animation:
    typing 3s steps(40, end) forwards,
    blink-line 2.5s step-end forwards;
  animation-delay: 2.8s;
}

.login-text-3 {
  animation:
    typing 3s steps(40, end) forwards,
    blink-line 2s step-end forwards;
  animation-delay: 5.8s;
}

.login-text-4 {
  animation:
    typing 3s steps(40, end) forwards,
    blink-line 2s step-end forwards;
  animation-delay: 8.2s;
}

.login-text-5 {
  animation:
    typing 3s steps(40, end) forwards,
    blink-line 2s step-end forwards;
  animation-delay: 10.6s;
}

@keyframes typing {
  from {width: 0;
  }
  to {width: 100%;
  }
}

@keyframes blink-line {
  from, to {border-color: white}
  0% {border-color: white}
  15% {border-color: transparent}
  25% {border-color: white}
  35% {border-color: transparent}
  50% {border-color: white}
  65% {border-color: transparent}
  75% {border-color: white}
  85% {border-color: transparent}
  95% {border-color: white}
  100% {border-color: transparent}
}

.card-prop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card {
  display: inline-block;
/*  justify-content: left;*/
/*  align-items: left;*/
}

.order-card {
  border-color: black;
  border-width: 5px;
}

.userValues {
  color: cyan !important;
  text-align: center;
}

th {
  font-size: 2em;
  color: cyan !important;
}

.product-values {
  color: #95F7B1;
  display: inline;
}

.product-bool {
  color: cyan;
  display: inline;
}

.product-total {
  color: #0008FF;
  display: inline;
}